{% extends 'file/base.html' %}

{% block title %}
    <title>
      Login
    </title>
{% endblock %}

{% block style %}
    <style>
      form {
        font-weight: bold;
        text-align: center;
      }
      table {
        margin: auto;
      }
      #button
      {
        width: 250px;
        height: 30px;
      }
    </style>
{% endblock %}

{% block content %}
  <form method="POST">
    <h2>Login</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button id= "button" type="submit"><b>LOGIN</b></button>
  </form>
  </br>
  <form action= '/signup' method="GET">
     <button id = "button" type="submit">Not a user Yet!  <b>SIGNUP</b></button>
  </form>
{% endblock %}

